# dot files
.build/
.DS_Store
.esm-cache
.git
.jestrc.json
.nyc_output
.tmp/
.travis.yml
.vscode
*.env

# debug
npm-debug.log*
yarn-error.log*

# folders
coverage*/
dist*/
node_modules/
src*/
test*/

# other files
clean-dir.sh
gulpfile*.js*
gulpfile*.ts*
tsconfig*.json
tslint*.json

# Do not ignore
!**/json.d.ts
